<div class="asp-rcm-wrapper">

    <div class="container">
      <div class="content-wrapper">
        <img src="assets/asprcmLogo.svg" alt="ASP-RCM Solutions Logo" class="logo">
        
        <div class="card">
          <div class="video-container">

            <video src="assets/cracked.mp4" autoplay muted playsInline></video>
          </div>
          
          <div class="card-content">
            <h2 class="heading">You cracked the code</h2>
            <p class="subheading">That's how we turn denials into second chances</p>
            
            <div class="badge">
              <span class="badge-text">Impact Badge: <span class="badge-name">{{myFormValue.name}}</span></span>
              <span class="verified">Verified</span>
            </div>
            
            <button class="continue-button" (click)="OnClickContinue()">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>